<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the soul beer shop!</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
<form method="post" action="/shutdownContext/">
    <button type="submit">Выключить сервер</button>
</form>
<h1>Главная страница</h1>
<a href="/test/">Заполнить тестовые данные</a><br>
<a href="/shops/all/">Магазины</a><br>
<a href="/sellers/all/">Продавцы</a><br>
<a href="/makers/all/">Производители</a><br>
<a href="/product-category/all/">Категории товаров</a><br>
<a href="/products/all/">Товары</a><br>
<a href="/shifts/all/">Смены</a><br>
<a href="/fill-products/">Заполнить товары</a><br>
<a href="/product-list/">Выгрузить список товаров</a><br>

</form>

</body>
</html>