<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the soul beer shop!</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>

<h1>Главная страница</h1>
<a href="/shops/all/">Магазины</a><br>
<a href="/sellers/all/">Продавцы</a><br>
<a href="/product-category/all/">Категории товаров</a><br>
<a href="/products/all/">Товары</a><br>
<a href="/shifts/all/">Смены</a><br>
<a href="/fill-products/">Заполнить товары</a><br>
</form>

</body>
</html>