<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Удалить товар</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
<a href = "/main"> На главную </a><br>
<div class = "container">
    <form th:method="POST" th:action="@{/products/delete/{id}(id=${product.getProductId()})}" th:object="${product}" >
        <table>
            <tr>
                <td>Наименование</td>
                <td><input readonly type="text" th:field="*{productName}" id="address"><br></td>
            </tr>
            <tr>
                <td>Категория</td>
                <td>
                    <span th:text = "${product.getCategoryName()}"></span>

                </td>
            </tr>

            <tr>
                <td>Производитель</td>
                <td><input readonly type="text"  th:field="*{makerId}" ></td>
            </tr>

            <tr>
                <td>Порядок</td>
                <td><input readonly type="text"  th:field="*{productOrder}" ></td>
            </tr>

        </table>

        <input type="submit" value="Удалить">
    </form>
    <a href="/products/all">Отменить</a>
</div>
</body>
</html>