<!DOCTYPE html>
<html lang ="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Создать новый товар</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
<a href = "/main"> На главную </a><br>
<div class = "container">
    Добавление нового товара
<form th:method="POST" th:action="@{/products/}" th:object="${product}" >
    <table>
        <tr>
            <td>Наименование</td>
            <td><input type="text" th:field="*{productName}" id="address"></input><br></td>
        </tr>
        <tr>
            <td>Категория</td>
            <td>
                <select th:field="*{categoryId}">

                    <option th:each = "productCategory:${productCategories}" th:text="${productCategory.getCategoryName()}" th:value = "${productCategory.getCategoryId()}"></option>
                </select>

            </td>
        </tr>

        <tr>
            <td>Производитель</td>
            <td>
                <select th:field="*{makerId}">

                    <option th:each = "maker:${makers}" th:text="${maker.getMaker().getMakerName()}" th:value = "${maker.getMaker().getMakerId()}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Порядок</td>
            <td><input type="number"  th:field="*{productOrder}" ></td>
        </tr>

    </table>

    <input type="submit" value="Создать товар">
    <br>
    <a href="/products/all">Отменить</a>
</form>

Создание нового товара
</div>
</body>
</html>