
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр информации о товаре</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
<a href = "/WebApp21/"> На главную </a><br>
<div class = "container">
Данные о товаре <br>
<p th:text="${product.getProductId()}">VALUE</p>
<p th:text="${product.getProductName()}">VALUE</p>
<p th:text="${product.getProductCategory()}">VALUE</p>
<p th:text="${product.getProductMaker()}">VALUE</p><br>
<a th:href = "@{/products/{id}/edit(id=${product.getProductId()})}">Редактировать</a>
<br>
<a th:href = "@{/products/{id}/delete(id=${product.getProductId()})}">Удалить</a>
</div>
</body>
</html>