<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Данные продавца</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
<a href="/main">На главную</a><br>
<a href="/sellers/all">К продавцам</a>
<div class = "container">

    <h2>Продавец</h2>
    №: <span th:text = "${seller.getSellerId()}"></span><br>
    магазин: <span th:text = "${seller.getShopName()}"></span><br>
    Имя: <span th:text = "${seller.getSellerName()}"></span><br>
    Телефон: <span th:text = "${seller.getSellerPhone()}"></span><br>

</div>
</body>
</html>