<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Новый производитель</title>
  <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
<a href = "/main"> На главную </a><br>
<div class = "container">

  <form th:method="POST" th:action="@{/makers/}" th:object="${maker}">
    Наименование <input th:field = "*{makerName}">
    <table>

    <tr>

      <td>Контакты</td>
      <td>Описание</td>

    </tr>
    <tr>

      <td style="width: 200px">
        <textarea maxlength="500" th:field = "*{makerContacts}"></textarea>
      </td>
      <td style="width: 200px">
        <textarea maxlength="500" th:field = "*{makerDescription}"></textarea>
      </td>

    </tr>
  </table>
<input type="submit" value="Создать">
  </form>
</div>
</body>
</html>