<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Новый производитель</title>
  <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
<a href = "/main"> На главную </a><br>
<div class = "container">
  <a href = "/makers/new">Производитель</a>
  <form th:method="POST" th:action="@{/makers/}" th:object="${maker}">
  <table>

    <tr>
      <td>Наименование</td>
      <td>Контакты</td>
      <td>Описание</td>

    </tr>
    <tr>

      <td>
        <input th:field = "*{makerName}">

      </td>
      <td>
        <textarea th:field = "*{makerContacts}"></textarea>
      </td>
      <td>
        <textarea th:field = "*{makerDescription}"></textarea>
      </td>

    </tr>
  </table>
<input type="submit" value="Создать">
  </form>
</div>
</body>
</html>