<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Рабочие смены</title>
</head>
<body>
<a href = "/WebApp21/"> На главную </a><br>
<a href = "/WebApp21/shifts/">Назад </a><br>
<a href = "/WebApp21/shifts/new">Новая смена </a><br>
<a href = "/WebApp21/shifts/search">Найти смену </a><br>
<table>
<tr>


<td>Номер <br>смены</td>
<td>Магазин</td>
<td>Начало смены</td>
<td>Конец смены</td>
<td>Продавец</td>
<td>Сумма в начале смены</td>
<td>Сумма в конце смены</td>
<td>Действие</td>
</tr>
<tr height = 5 th:each = "shiftIndex : ${shiftIndex}">
<td>
<a th:href = "@{/shifts/{id}(id=${shiftIndex.getShiftId()})}" th:text="${shiftIndex.getShiftId()}"></a>
</td>
<td>
<a th:href = "@{/shops/{id}(id=${shiftIndex.getShopId()})}" th:text="${shiftIndex.getShopId()}"></a>
</td>
<td>
<p th:text="${shiftIndex.getShiftBegin()}"></p>
</td>
<td>
<p th:text="${shiftIndex.getShiftEnd()}"></p>
</td>
<td>

<a th:href = "@{/sellers/{id}(id=${shiftIndex.getSellerId()})}" th:text = "${shiftIndex.getSellerName()}">
	</a>
</td>
<td><p th:text="${shiftIndex.getCashBegin()}"></p></td>
<td><p th:text="${shiftIndex.getCashEnd()}"></p></td>
<td>
<a th:href = "@{/shifts/{id}/edit(id=${shiftIndex.getShiftId()})}">Редактировать</a>
<br>
<a th:href = "@{/shifts/{id}/delete(id=${shiftIndex.getShiftId()})}">Удалить </a>
<br>
<a th:href = "@{/reports/{id}(id=${shiftIndex.getShiftId()})}" >Просмотреть отчет</a>
</td>

</tr>
</table>

</body>
</html>