<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Удалить смену</title>
</head>
<body>
<a href = "/WebApp21/"> На главную </a><br>
<form th:method="POST" th:action="@{/shifts/delete/{id}(id=${shift.getShiftId()})}" th:object="${shift}">

<p th:text="${seller.getSellerName()}" ></p>
<p th:text="${seller.getShopId()}" ></p>



<label for="begin">Начало смены. Формат ГГГГ-ММ-ДД</label>
<input type="text" th:field="*{shiftBegin}" id="begin"></input><br>
<label for="end">Конец смены.</label>
<input type="text" th:field="*{shiftEnd}" id="end"></input><br>
<input type="submit" value="Удалить"></input>

</form>
Удаление смены

</body>
</html>