<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Редактирование смены</title>
</head>
<body>
<a href = "/WebApp21/"> На главную </a><br>
<table>
<tr>
<td>Изменение смены №</td>
<td><p th:text = "${shift.getShiftId()}"></p></td>
</tr>
</table>

<form th:method="POST" th:action="@{/shifts/{id}(id=${shift.getShiftId()})}" th:object="${shift}">
<label for="idSeller">Выберите продавца: </label>

<select th:field="*{SellerId}" id = "idSeller">

<option th:each = "seller:${seller}" th:text="${seller.getSellerName()}" th:value = "${seller.getSellerId()}"></option>
</select><br>

<label for="begin">Начало смены. Формат ГГГГ-ММ-ДД</label>
<input type="text" th:field="*{shiftBegin}" id="begin"></input><br>
<label for="end">Конец смены.</label>
<input type="text" th:field="*{shiftEnd}" id="end"></input><br>
<label for="cbegin">Сумма в начале смены</label>
<input type="text" th:field="*{cashBegin}" id="cbegin"></input><br>
<label for="cend">Сумма в конце смены</label>
<input type="text" th:field="*{cashEnd}" id="cend"></input><br>
<input type="submit" value="Изменить смену"></input>
</form>

</body>
</html>