<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Смена</title>
</head>
<body>
<a href = "/WebApp21/"> На главную </a><br>

<p th:text="${shift.getShiftId()}">VALUE</p>
<p th:text="${shift.getShopId()}">VALUE</p>
<p th:text="${shift.getShiftBegin()}">VALUE</p>
<p th:text="${shift.getShiftEnd()}">VALUE</p><br>
<p th:text="${shift.getSellerName()}">VALUE</p>
<p th:text="${shift.getSellerId()}"></p>

<p th:text="${shift.getCashBegin()}"></p>
<p th:text="${shift.getCashEnd()}"></p>

<a th:href = "@{/shifts/{id}/edit(id=${shift.getShiftId()})}"> Редактировать </a>
<br>
<a th:href = "@{/shifts/{id}/delete(id=${shift.getShiftId()})}">Удалить </a>
</body>
</html>