<!DOCTYPE html>
<html lang ="en" xmlns:th="http://thymeleaf.org">
<head>
<meta th:charset="UTF-8">
<title>Создать новый товар</title>
</head>
<body>
<a href = "/WebApp21/"> На главную </a><br>

<form th:accept-charset="UTF-8" th:method="POST" th:action="@{/products/}" th:object="${product}" >

<label for="productName"> Наименование </label>
<input type="text"  th:field="*{productName}" id="productName"></input><br>
<label for="productCategory"> Категория </label>
<input type="text" th:field="*{productCategory}" id="productCategory"></input><br>
<label for="productMaker"> Производитель: </label>
<input type="text" th:field="*{productMaker}" id="productMaker"></input><br>
<input type="submit" value="Создать товар"></input>
</form>

Создание нового товара

</body>
</html>