body{
    text-align: center;
    background:bisque;
    padding-left: 20%;
    padding-right: 20%;
}

div.container{
    text-align: left;
    background:darkseagreen;
    border-style:solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: coral;
    padding: 30px;
}

a:hover{
    color:black;
}