<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Редактирование продавца</title>
</head>
<body>
<a href = "/WebApp21/"> На главную </a><br>

<form th:method="POST" th:action="@{/sellers/{id}(id=${seller.getSellerId()})}" th:object="${seller}">
<label for="idShop">Выберите магазин</label>


<select th:field="*{shopId}" id = "idShop">

<option th:each = "shop:${shop}" th:text="${shop.getShopId()}" th:value = "${shop.getShopId()}"></option>
</select><br>

<label for="sellerName">ФИО </label>
<input type="text" th:field="*{sellerName}" id="sellerName"></input><br>
<label for="phone">Телефон </label>
<input type="text" th:field="*{sellerPhone}" id="phone"></input><br>
<input type="submit" value="Редактировать"></input>
</form>
Редактирование продавца

</body>
</html>