<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Продавцы</title>
</head>
<body>
<a href = "/WebApp21/"> На главную </a><br>
<a href = "/WebApp21/sellers/new">Создать нового продавца</a>
<table>
<tr>
<td>ID</td>
<td>Магазин</td>
<td>Фио</td>
<td>Номер телефона</td>
<td>Действие</td>
</tr>
<tr height = 5 th:each = "seller : ${seller}">
<td>
<p th:text="${seller.getSellerId()}"></p>
</td>
<td>
<p th:text="${seller.getShopId()}"></p>
</td>
<td>
<a th:href = "@{/sellers/{id}(id=${seller.getSellerId()})}"  th:text="${seller.getSellerName()}">
	</a>
</td>
<td>
<p th:text="${seller.getSellerPhone()}"></p>
</td>
<td>
<a th:href = "@{/sellers/{id}/edit(id=${seller.getSellerId()})}">Редактировать</a>
<br>
<a th:href = "@{/sellers/{id}/delete(id=${seller.getSellerId()})}">Удалить</a>
</td>
</tr>
</table>

</body>
</html>