<!DOCTYPE html>
<html lang ="en" xmlns:th="http://thymeleaf.org">
<head>
<meta th:charset="UTF-8">
<title>Создание нового магазина</title>
</head>
<body>
<a href = "/WebApp21/"> На главную </a><br>

<form th:accept-charset="UTF-8" th:method="POST" th:action="@{/shops/}" th:object="${shop}" >
<label for="idShop"> Введите id: </label>
<input type="text" th:field="*{shopId}" id="idShop"></input><br>
<label for="address"> Адрес: </label>
<input type="text" th:field="*{shopAddress}" id="address"></input><br>
<label for="shopPhone"> Телефон: </label>
<input type="text"  th:field="*{shopPhone}" id="shopPhone"></input><br>
<label for="isCity"> Городской/нет: </label>
<input type="text" th:field="*{isCity}" id="isCity"></input><br>
<input type="submit" value="Создать"></input>
</form>

Создание нового магазина

</body>
</html>