<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Список Магазинов</title>
  <link rel="stylesheet" href="/styles/style.css"/>
</head>

<body>
<a href="/main">На главную</a>
<div class = "container">


  <h2>Магазины</h2>
  <table>
    <thead>
      <tr>
        <td>№</td>
        <td>Название</td>
        <td>Адрес</td>
        <td>Телефон</td>
        <td>Продавцы</td>
        <td>Городской/нет</td>
        <td>Действие</td>
      </tr>
    </thead>
    <tr th:each = "shop:${shops}">
      <td th:text = "${shop.getShopId()}"></td>
      <td><a th:text = "${shop.getShopName()}" th:href="@{/shops/{id}(id=${shop.getShopId()})}"></td>
      <td th:text = "${shop.getShopAddress()}"></td>
      <td th:text = "${shop.getShopPhone()}"></td>
      <td><a th:href = "@{/sellers/shop/{id}(id=${shop.getShopId()})}">Продавцы (<span th:text = "${shop.getSellers().size()}"></span>)</a></td>
      <td th:text = "${shop.getIsCity()}"></td>
      <td>
        <a th:href = "@{/shops/edit/{id}(id=${shop.getShopId()})}">Редактировать</a><br>
        <a th:href = "@{/shops/delete/{id}(id=${shop.getShopId()})}">Удалить</a>
      </td>

    </tr>
  </table>
  <a href="/shops/new">Создать новый магазин</a>
</div>
</body>
</html>