<!DOCTYPE html>
<html lang ="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta th:charset="UTF-8">
    <title>Редактировать категорию</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
<a href = "/main"> На главную </a><br>
<div class = "container">
    <form th:accept-charset="UTF-8" th:method="POST" th:action="@{/product-category/edit/{id}(id=${productCategory.getCategoryId()})}" th:object="${productCategory}" >
        <table>
            <tr>
                <td>Наименование</td>
                <td><input type="text"  th:field="*{categoryName}"></td>
            </tr>
        </table>

        <input type="submit" value="Редактировать"></input>
    </form>
    <a href="/product-category/all">Отмена</a>
</div>
</body>
</html>