<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удалить смену</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
<a href="/main">На главную</a>
<div class = "container">

    <form th:accept-charset="UTF-8" th:method="POST" th:action="@{/shifts/delete/{id}(id=${shift.getShift().getShiftId()})}" th:object="${shift}" >
        <h2>Удаление смены</h2>
        <table>
            <tr>
                <td>Продавец</td>
                <td th:text = "${shift.getSellerName()}"></td>
            </tr>
            <tr>
                <td>Магазин</td>
                <td th:text = "${shift.getShopName()}"></td>
            </tr>
            <tr>
                <td>Начало смены</td>
                <td><span th:text="${shift.getDateBegin().show()}"></span></td>
            </tr>
            <tr>
                <td>Конец смены</td>
                <td><span th:text="${shift.getDateEnd().show()}"></span></td>
            </tr>

            <tr>
                <td>Остаток на начало смены</td>
                <td><input type="text" readonly  th:field="*{shift.cashBegin}" ></td>
            </tr>

            <tr>
                <td>Остаток на конец смены</td>
                <td><input type="text" readonly th:field="*{shift.cashEnd}" ></td>
            </tr>

        </table>

        <input type="submit" value="Удалить"></input>
    </form>

    <a href="/shifts/all">Отмена</a>
</div>
</body>