<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заполнить таблицу товаров</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
Загрузить файл с товарами
<form method="POST" th:action="@{/fill-products}" enctype="multipart/form-data">
    <input type="file" name="file"/> <br/><br/>
    <button type="submit">Загрузить</button>
</form>
<div style="background-color: aqua; width: 150px; text-align: left">
    <p style="background-color: chocolate">Пример содержания файла:</p>
    Пиво (<br>
    жигулевское,<br>
    Темное,<br>
    Светлое,<br>
    Классическое,<br>
    Фон Вакано)<br>
    <br>
    Лимонады(<br>
    Жигулевское,<br>
    Буратино,<br>
    Тархун)<br>
    <br>
    Снеки(<br>
    сухарики,<br>
    кренделя,<br>
    фисташки,<br>
    семечки,<br>
    орешки)<br>
</div>



</body>
</html>